<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/configs</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>