html, body, header, #portada {
  height: 100%;
}

#portada {
  background: url('../img/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wow {
  visibility: hidden;
}

.page-footer {
  background-color: #6a1b9a;
}

.footer-copyright {
  background-color: #3f51b5;
}

.top-nav-collapse {
  background-color: #6a1b9a;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #6a1b9a;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #6a1b9a;
  }
}

/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

@include media-breakpoint-only(xs) { ... }
@include media-breakpoint-only(sm) { ... }
@include media-breakpoint-only(md) { ... }
@include media-breakpoint-only(lg) { ... }
@include media-breakpoint-only(xl) { ... }*/