<IfModule mod_headers.c>
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options DENY
Header always set Referrer-Policy no-referrer
Header set Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline'; connect-src 'self'; img-src 'self' data: *; style-src 'self' use.fontawesome.com 'unsafe-inline' ;font-src 'self' use.fontawesome.com ;media-src 'none'"
Header always set Feature-Policy "geolocation 'none'; midi 'none'; camera 'none'; usb 'none'; magnetometer 'none';"
</IfModule>